
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #545454;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    /* line-height: 2; */
    font-size: 5.625rem;  /*100% is equivalent to 16px so for 90px 562.5%  */
                        /*1em is also equivalent to 16px so for 90px 5.625 em */
                        /* to create dynamic font we use em and % instead of pixels */
                        /* rem is similar to em but have an advantage over it so use rem*/
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    font-size: 2.5rem;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    
}

hr{
    height: 0px;
    width: 5%;
    border-style: dotted none none none;
    border-width: 7px;
    border-color: #EAF6F6;
    margin: 5rem auto;
}


.top-container{
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}
.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    top:50px;
    right: 300px;
}

.profile-pic{
    width: 12rem;
    /* height: 12rem; */
    margin-top: 4rem;
    background-color:#66BFBF ;
    border-radius: 100%;
}

.intro{
    width: 30%;
    margin: auto ;
    color: #40514E;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.code-img{
    width:22%;
    height: 26%;
    float: left;  /*this property allows us to make image wrap with the text. Its very usefull!!!!  */
    margin-right: 30px;
}
.design-img{
    width:20%;
    float: right;
    margin-left: 30px;
}
.lang-img{
    width:22%;
    height: 26%;
    float: left;  
    margin-right: 30px;
}
.code-skill-description{
    /* clear: left;  this property is like anti-float.it clears wraping with other elements. Its very usefull!!!!  */
    margin-top: 0;
}
.design-skill-description{
    margin-top: 0px;
} 

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.skill-description{
    width: 500px;
    margin: 1rem auto 4rem auto;
    line-height: 1.8;
}

.bottom-container{
   margin: 5rem 0 auto;
   background-color: #66BFBF;
   padding: 2rem
}

.footer-link{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 2rem;
    text-decoration: none;
}

.footer-link:hover{
    color: lightcyan;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    margin: 1rem 0 auto;
    
}